<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h4 class="footer-title">Shop quần áo</h4>
                <p>Premium tailored suits for the modern gentleman. Experience the perfect fit with our hand-crafted
                    suits.</p>
                <div class="footer-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 mb-4">
                <h4 class="footer-title">Shop</h4>
                <ul class="footer-links">
                    <li><a href="products.html">All Products</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">Sale</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 mb-4">
                <h4 class="footer-title">Company</h4>
                <ul class="footer-links">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 mb-4">
                <h4 class="footer-title">Newsletter</h4>
                <p>Subscribe to our newsletter to receive updates on new arrivals and special offers.</p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Your Email">
                    <button class="btn btn-secondary" type="button">Subscribe</button>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025, Hutech University. All Rights Reserved.</p>
        </div>
    </div>
</footer>